wordy/
venv/
env/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# NLTK Data
nltk_data/

# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Cache and temporary files
.cache/
.pytest_cache/
*.log



1. 
terminal: (vertual environment
    python3 -m venv wordy
    source wordy/bin/activate

2. 
terminal: (add requirements
    pip install -r requirements.txt

3. streamlit
main.py:
    import streamlit as st

streamlit run main.py

4. 下载安装nltk data
terminal:
    python -m nltk.downloader wordnet
    unzip nltk_data/corpora/wordnet.zip -d nltk_data/corpora/
relationships.py:
    import nltk
    nltk.data.path.append('./nltk_data')
    from nltk.corpus import wordnet as wn

5. pandas:
import pandas as pd

github repo相关
1. 生成requirements(但有冗余 建议手动 但可以看到用了啥)
terminal:
pip freeze > requirements.txt


tips:
1. 打印json格式
    import json
    formatted_result = json.dumps(result, indent=4, ensure_ascii=False)
    print(formatted_result)
2. 暂停环境
    deactivate

run:
streamlit run main.py
python relationships.py
